cpp/ip-device/obj/*
cpp/ip-device/log/*
cpp/ip-device/src/main
cpp/ip-device/src/bulb
cpp/ip-device/src/.vscode/ipch
cpp/ip-device/inc/.vscode/ipch

cpp/gateway/obj/*
cpp/gateway/src/main
cpp/gateway/src/log/*
cpp/gateway/src/.vscode/ipch
cpp/gateway/inc/.vscode/ipch

cpp/user/obj/*
cpp/user/src/main
cpp/user/src/log/*
cpp/user/src/.vscode/ipch
cpp/user/inc/.vscode/ipch

android/android-upnp-discovery-master
android/android-upnp-discovery-master/*
