body{
    background-color: lightyellow
}

table{
    border-style: solid;
    border-color:black;
    border-width: 1%;
    margin-left: 30%
}

th,td{
    font-family:monospace;
    color:green;
    font-size:150%
}

td.board{
    border-style:solid;
    border-color:red;
    border-width: 1px;
    width:30%
}

table.board
{
    border-collapse: collapse;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: teal;
    font-size: 200%;
    margin-left: 30%
}

